<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navbar.ejs") %>
    <%- console.log(games)%>
    <h1 id="games">Games</h1>

    <div class="grid text-center">
        <% games.forEach(game => { %>
        <div class="g-col-4 box1 up" style = "background-image: url(<%=game.image%>)">
          <div class="content">
            <h2><%= game.name %></h2>
            <p><%= game.description %></p>
            <button class="btn btn-primary" href="<%= game.buyLink %>">Buy Now</button>
            <!-- <a href="<%= game.buyLink %>">Buy Now</a> -->
          </div>
        </div>
        <% }) %>
    </div>

</body>
</html>


