<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navbar.ejs") %>

    <h1>News</h1>
    <div id="news-list">
        <% newsItems.forEach(news => { %>
            <div class="containerN">
                <img src="<%= news.image %>" alt="<%= news.name %> image" class="hover-image">
                <div class="info">
                <h2><%= news.name %></h2>
                <p><%= news.content %></p>
            </div>
        <% }) %>
    </div>
    